# Local development env vars
DJANGO_SETTINGS_MODULE=andalas_cell_test.settings.development
DJANGO_DEBUG=1
DJANGO_SECRET_KEY=django-insecure-el8=)jf5wsg^@7b+d14s+i*les&ib@wiwgt!)%(shgz32trax1
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# PostgreSQL (local)
DB_NAME=andalas_db
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
